:root {
    --back_color1: #0D1B2A;
    --back_color2: #1D5599;
    --back_color3: #57849C;
    --accent_color1: #7FC6DE;
    --accent_color2: #EFEFEF;
    --wild_red: #FF0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

body {
    font-family: Roboto, sans-serif;
}

/* padding: 0px keeps nav-bar at bottom of header */
header {
    background-color: var(--back_color2);
    padding: 2rem;
    color: white;
    border: 10px solid var(--back_color2);
}

/* justify-content: center; */
/* max-width: 1000px; */
main {
    position: relative;
    padding: 0.1rem;
    background-color: var(--accent_color2);
    /* background-color: aquamarine; */
    /* height: auto; */
}

footer {
    padding: 1rem;
    color: white;
    background-color: var(--back_color1);
    /* border-top: 1px solid var(--back_color1); */
    /* border-bottom: 10px solid red; */
    text-align: center;
}

figcaption {
    text-align: center;
    margin-bottom: 1rem;
}

.data, .weather {
    text-align: center;
    margin-bottom: 2rem;
    width: auto;
}

/* NOTE: 50% width causes <p> and <span> to break onto different lines */
.data p, .weather p {
    display: inline-block;
    width: 45%;
    margin: 0.1rem;
    text-align: right;
    font-weight: bold;
    /* background-color: red;  TODO: DEBUG */
}

.data span, .weather span {
    display: inline-block;
    width: 45%;
    margin: 0.1rem;
    text-align: left;
    /* background-color: greenyellow;  TODO: DEBUG */
}

/* https://www.iconfinder.com/icons/1530374/weather_day_sand_sandstorm_sun_icon */
.weather h2::after {
    content: url(../images/weather-icon.svg);
    display: block;
    width: 15%;
    margin: auto;
}

/* Centers image when placed inside of a div */
/* Note: display: block kills grid settings */
.icon-img {
    display: block;
    margin: 0 auto;
    width: 150%;
}

#chill-button {
    text-align: center;
    margin-top: 0.5rem;
}

.heroImage img{
    /* margin: auto; */
    width: 100%;
    height: 100%;
}


/* Note image cannot be centered if the width is set to 100% (full-width). */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pad {
    padding-bottom: 1rem;
}